sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"PPVMBJ+Arial-BoldMT";
	src:url("b2368b90-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2.33em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: 0.0008em;
}

.ie .stl_09 {
	letter-spacing: 0.0305px;
}
.stl_10 {
	font-size: 0.92em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.0023em;
}

.ie .stl_11 {
	letter-spacing: 0.0333px;
}
@font-face {
	font-family:"QJBHKT+Arial-ItalicMT";
	src:url("e9427ad2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.83em;
	font-family: "QJBHKT+Arial-ItalicMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0.0015em;
}

.ie .stl_13 {
	letter-spacing: 0.0193px;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
.stl_15 {
	letter-spacing: 0.0017em;
}

.ie .stl_15 {
	letter-spacing: 0.0232px;
}
.stl_16 {
	letter-spacing: 0.0011em;
}

.ie .stl_16 {
	letter-spacing: 0.0146px;
}
.stl_17 {
	letter-spacing: 0.0019em;
}

.ie .stl_17 {
	letter-spacing: 0.0254px;
}
.stl_18 {
	letter-spacing: 0.001em;
}

.ie .stl_18 {
	letter-spacing: 0.013px;
}
.stl_19 {
	letter-spacing: 0.0014em;
}

.ie .stl_19 {
	letter-spacing: 0.0185px;
}
.stl_20 {
	letter-spacing: 0.0009em;
}

.ie .stl_20 {
	letter-spacing: 0.0123px;
}
.stl_21 {
	letter-spacing: 0.002em;
}

.ie .stl_21 {
	letter-spacing: 0.0267px;
}
.stl_22 {
	letter-spacing: 0.0026em;
}

.ie .stl_22 {
	letter-spacing: 0.0351px;
}
.stl_23 {
	letter-spacing: 0.0018em;
}

.ie .stl_23 {
	letter-spacing: 0.0237px;
}
.stl_24 {
	font-size: 1.17em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #0505FF;
}
.stl_25 {
	letter-spacing: -0.0014em;
}

.ie .stl_25 {
	letter-spacing: -0.0268px;
}
.stl_26 {
	letter-spacing: -0.0016em;
}

.ie .stl_26 {
	letter-spacing: -0.0307px;
}
.stl_27 {
	letter-spacing: -0.0002em;
}

.ie .stl_27 {
	letter-spacing: -0.0046px;
}
.stl_28 {
	letter-spacing: 0.0006em;
}

.ie .stl_28 {
	letter-spacing: 0.0108px;
}
@font-face {
	font-family:"FDLPAE+ArialMT";
	src:url("48c9507e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.83em;
	font-family: "FDLPAE+ArialMT";
	color: #000000;
}
.stl_30 {
	letter-spacing: 0.0032em;
}

.ie .stl_30 {
	letter-spacing: 0.0422px;
}
.stl_31 {
	font-size: 0.83em;
	font-family: "FDLPAE+ArialMT";
	color: #808080;
}
.stl_32 {
	letter-spacing: 0.0003em;
}

.ie .stl_32 {
	letter-spacing: 0.0043px;
}
.stl_33 {
	font-size: 2em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_34 {
	letter-spacing: -0.0001em;
}

.ie .stl_34 {
	letter-spacing: -0.0035px;
}
.stl_35 {
	letter-spacing: 0.0022em;
}

.ie .stl_35 {
	letter-spacing: 0.029px;
}
.stl_36 {
	letter-spacing: 0.0002em;
}

.ie .stl_36 {
	letter-spacing: 0.0022px;
}
.stl_37 {
	letter-spacing: 0.0012em;
}

.ie .stl_37 {
	letter-spacing: 0.0164px;
}
.stl_38 {
	letter-spacing: 0.0021em;
}

.ie .stl_38 {
	letter-spacing: 0.0273px;
}
.stl_39 {
	letter-spacing: 0.0025em;
}

.ie .stl_39 {
	letter-spacing: 0.0329px;
}
.stl_40 {
	letter-spacing: 0.0016em;
}

.ie .stl_40 {
	letter-spacing: 0.0213px;
}
.stl_41 {
	font-size: 0.42em;
	font-family: "FDLPAE+ArialMT";
	color: #000000;
}
.stl_42 {
	letter-spacing: 0.0007em;
}

.ie .stl_42 {
	letter-spacing: 0.0087px;
}
.stl_43 {
	letter-spacing: 0.0033em;
}

.ie .stl_43 {
	letter-spacing: 0.0443px;
}
.stl_44 {
	letter-spacing: 0.0013em;
}

.ie .stl_44 {
	letter-spacing: 0.0173px;
}
.stl_45 {
	font-size: 0.67em;
	font-family: "FDLPAE+ArialMT";
	color: #000000;
}
.stl_46 {
	letter-spacing: -0.0027em;
}

.ie .stl_46 {
	letter-spacing: -0.0292px;
}
.stl_47 {
	letter-spacing: -0.0029em;
}

.ie .stl_47 {
	letter-spacing: -0.031px;
}
.stl_48 {
	letter-spacing: -0.0028em;
}

.ie .stl_48 {
	letter-spacing: -0.03px;
}
.stl_49 {
	letter-spacing: -0.0023em;
}

.ie .stl_49 {
	letter-spacing: -0.0248px;
}
.stl_50 {
	letter-spacing: -0.0031em;
}

.ie .stl_50 {
	letter-spacing: -0.0336px;
}
.stl_51 {
	font-size: 1em;
	font-family: "FDLPAE+ArialMT";
	color: #000000;
}
.stl_52 {
	font-size: 1em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_53 {
	letter-spacing: -0.0005em;
}

.ie .stl_53 {
	letter-spacing: -0.0072px;
}
.stl_54 {
	letter-spacing: 0.0029em;
}

.ie .stl_54 {
	letter-spacing: 0.0383px;
}
.stl_55 {
	letter-spacing: 0.0024em;
}

.ie .stl_55 {
	letter-spacing: 0.0318px;
}
.stl_56 {
	letter-spacing: -0.0007em;
}

.ie .stl_56 {
	letter-spacing: -0.0087px;
}
.stl_57 {
	letter-spacing: 0.003em;
}

.ie .stl_57 {
	letter-spacing: 0.0396px;
}
.stl_58 {
	letter-spacing: -0.004em;
}

.ie .stl_58 {
	letter-spacing: -0.043px;
}
.stl_59 {
	letter-spacing: -0.0032em;
}

.ie .stl_59 {
	letter-spacing: -0.0346px;
}
.stl_60 {
	letter-spacing: -0.0043em;
}

.ie .stl_60 {
	letter-spacing: -0.0457px;
}
.stl_61 {
	letter-spacing: 0.0027em;
}

.ie .stl_61 {
	letter-spacing: 0.0355px;
}
.stl_62 {
	font-size: 0.83em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_63 {
	letter-spacing: 0.0028em;
}

.ie .stl_63 {
	letter-spacing: 0.0367px;
}
.stl_64 {
	letter-spacing: 0.0005em;
}

.ie .stl_64 {
	letter-spacing: 0.0071px;
}
.stl_65 {
	letter-spacing: -0.003em;
}

.ie .stl_65 {
	letter-spacing: -0.0316px;
}
.stl_66 {
	letter-spacing: -0.0035em;
}

.ie .stl_66 {
	letter-spacing: -0.037px;
}
.stl_67 {
	letter-spacing: -0.0018em;
}

.ie .stl_67 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"FCPACG+Arial-BoldItalicMT";
	src:url("7ca42a8f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_68 {
	font-size: 0.83em;
	font-family: "FCPACG+Arial-BoldItalicMT";
	color: #000000;
}
.stl_69 {
	letter-spacing: -0.0004em;
}

.ie .stl_69 {
	letter-spacing: -0.0121px;
}
.stl_70 {
	letter-spacing: 0.0035em;
}

.ie .stl_70 {
	letter-spacing: 0.0463px;
}
.stl_71 {
	letter-spacing: 0.004em;
}

.ie .stl_71 {
	letter-spacing: 0.0537px;
}
.stl_72 {
	letter-spacing: -0.0038em;
}

.ie .stl_72 {
	letter-spacing: -0.0404px;
}
.stl_73 {
	letter-spacing: -0.0034em;
}

.ie .stl_73 {
	letter-spacing: -0.0363px;
}
.stl_74 {
	letter-spacing: -0.0021em;
}

.ie .stl_74 {
	letter-spacing: -0.0223px;
}
.stl_75 {
	font-size: 0.42em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_76 {
	letter-spacing: -0.0033em;
}

.ie .stl_76 {
	letter-spacing: -0.0356px;
}
.stl_77 {
	letter-spacing: -0.0026em;
}

.ie .stl_77 {
	letter-spacing: -0.0277px;
}
.stl_78 {
	letter-spacing: -0.0041em;
}

.ie .stl_78 {
	letter-spacing: -0.0438px;
}
.stl_79 {
	letter-spacing: -0.0012em;
}

.ie .stl_79 {
	letter-spacing: -0.0124px;
}
.stl_80 {
	letter-spacing: 0.0031em;
}

.ie .stl_80 {
	letter-spacing: 0.0411px;
}
.stl_81 {
	letter-spacing: 0.0036em;
}

.ie .stl_81 {
	letter-spacing: 0.0477px;
}
.stl_82 {
	letter-spacing: -0.0022em;
}

.ie .stl_82 {
	letter-spacing: -0.0241px;
}
.stl_83 {
	letter-spacing: -0.0081em;
}

.ie .stl_83 {
	letter-spacing: -0.0548px;
}
.stl_84 {
	letter-spacing: -0.0082em;
}

.ie .stl_84 {
	letter-spacing: -0.0548px;
}
.stl_85 {
	letter-spacing: -0.0009em;
}

.ie .stl_85 {
	letter-spacing: -0.0115px;
}
.stl_86 {
	letter-spacing: -0.0025em;
}

.ie .stl_86 {
	letter-spacing: -0.0273px;
}
.stl_87 {
	letter-spacing: -0.0019em;
}

.ie .stl_87 {
	letter-spacing: -0.0205px;
}
.stl_88 {
	letter-spacing: 0.0052em;
}

.ie .stl_88 {
	letter-spacing: 0.0693px;
}
.stl_89 {
	letter-spacing: -0.0071em;
}

.ie .stl_89 {
	letter-spacing: -0.0764px;
}
.stl_90 {
	letter-spacing: -0.0024em;
}

.ie .stl_90 {
	letter-spacing: -0.0259px;
}
.stl_91 {
	letter-spacing: -0.002em;
}

.ie .stl_91 {
	letter-spacing: -0.0219px;
}
.stl_92 {
	letter-spacing: -0.0036em;
}

.ie .stl_92 {
	letter-spacing: -0.0389px;
}
.stl_93 {
	letter-spacing: -0.001em;
}

.ie .stl_93 {
	letter-spacing: -0.0154px;
}
.stl_94 {
	letter-spacing: -0.0006em;
}

.ie .stl_94 {
	letter-spacing: -0.0098px;
}
.stl_95 {
	letter-spacing: -0.0013em;
}

.ie .stl_95 {
	letter-spacing: -0.0169px;
}
.stl_96 {
	letter-spacing: 0.0041em;
}

.ie .stl_96 {
	letter-spacing: 0.0544px;
}
.stl_97 {
	letter-spacing: -0.0017em;
}

.ie .stl_97 {
	letter-spacing: -0.0185px;
}
.stl_98 {
	letter-spacing: 0.0099em;
}

.ie .stl_98 {
	letter-spacing: 0.1317px;
}
.stl_99 {
	letter-spacing: 0.0004em;
}

.ie .stl_99 {
	letter-spacing: 0.0049px;
}
.stl_100 {
	letter-spacing: -0.0003em;
}

.ie .stl_100 {
	letter-spacing: -0.0044px;
}
.stl_101 {
	letter-spacing: -0.0046em;
}

.ie .stl_101 {
	letter-spacing: -0.0488px;
}
.stl_102 {
	letter-spacing: -0.0037em;
}

.ie .stl_102 {
	letter-spacing: -0.0397px;
}
.stl_103 {
	letter-spacing: 0.0037em;
}

.ie .stl_103 {
	letter-spacing: 0.0494px;
}
.stl_104 {
	letter-spacing: -0.0039em;
}

.ie .stl_104 {
	letter-spacing: -0.0413px;
}
.stl_105 {
	letter-spacing: -0.0011em;
}

.ie .stl_105 {
	letter-spacing: -0.0143px;
}
.stl_106 {
	letter-spacing: 0.0001em;
}

.ie .stl_106 {
	letter-spacing: 0.0018px;
}
.stl_107 {
	letter-spacing: 0.0043em;
}

.ie .stl_107 {
	letter-spacing: 0.0573px;
}
.stl_108 {
	letter-spacing: 0.0038em;
}

.ie .stl_108 {
	letter-spacing: 0.0507px;
}
@font-face {
	font-family:"ILMPJD+SymbolMT";
	src:url("478544fb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_109 {
	font-size: 0.83em;
	font-family: "ILMPJD+SymbolMT", "Times New Roman";
	color: #000000;
}
.stl_110 {
	line-height: 1.225098em;
}
.stl_111 {
	letter-spacing: 0.0055em;
}

.ie .stl_111 {
	letter-spacing: 0.0736px;
}
@font-face {
	font-family:"ABLGTR+Arial-BoldMT";
	src:url("b8ab1d3a-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_112 {
	font-size: 1em;
	font-family: "ABLGTR+Arial-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_113 {
	line-height: 1.117188em;
}
.stl_114 {
	font-size: 0.83em;
	font-family: "QJBHKT+Arial-ItalicMT";
	color: #808080;
}
.stl_115 {
	font-size: 1.5em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_116 {
	font-size: 0.92em;
	font-family: "FDLPAE+ArialMT";
	color: #000000;
}
.stl_117 {
	font-size: 1.17em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_118 {
	letter-spacing: -0.0008em;
}

.ie .stl_118 {
	letter-spacing: -0.0136px;
}
.stl_119 {
	letter-spacing: 0.0034em;
}

.ie .stl_119 {
	letter-spacing: 0.0456px;
}
.stl_120 {
	letter-spacing: -0.0015em;
}

.ie .stl_120 {
	letter-spacing: -0.0273px;
}
.stl_121 {
	font-size: 1.33em;
	font-family: "PPVMBJ+Arial-BoldMT";
	color: #000000;
}
.stl_122 {
	font-size: 1.17em;
	font-family: "FDLPAE+ArialMT";
	color: #000000;
}
.stl_123 {
	font-size: 0.54em;
	font-family: "FDLPAE+ArialMT";
	color: #000000;
}
@font-face {
	font-family:"JHJTGV+CourierNewPSMT";
	src:url("1489df3b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_124 {
	font-size: 0.83em;
	font-family: "JHJTGV+CourierNewPSMT", "Times New Roman";
	color: #000000;
}
.stl_125 {
	letter-spacing: 0.0045em;
}

.ie .stl_125 {
	letter-spacing: 0.0598px;
}
.stl_126 {
	letter-spacing: -0.0042em;
}

.ie .stl_126 {
	letter-spacing: -0.0445px;
}
.stl_127 {
	letter-spacing: 0.0051em;
}

.ie .stl_127 {
	letter-spacing: 0.0684px;
}
.stl_128 {
	letter-spacing: 0.0039em;
}

.ie .stl_128 {
	letter-spacing: 0.0616px;
}
