<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUserRegister</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletUserRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.unis.user.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUserUpdate</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletUserUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUserList</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletUserList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUserDelete</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletUserDelete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletViewUser</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletViewUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletToUserUpdate</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletToUserUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDeleteUserList</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletDeleteUserList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletAjaxJudgeUserName</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletAjaxJudgeUserName</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletAjaxJudgeUserPassword</servlet-name>
    <servlet-class>com.unis.user.servlet.ServletAjaxJudgeUserPassword</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>ServletUserRegister</servlet-name>
    <url-pattern>/servlet/ServletUserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUserUpdate</servlet-name>
    <url-pattern>/servlet/ServletUserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUserList</servlet-name>
    <url-pattern>/servlet/ServletUserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUserDelete</servlet-name>
    <url-pattern>/servlet/ServletUserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletViewUser</servlet-name>
    <url-pattern>/servlet/ServletViewUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletToUserUpdate</servlet-name>
    <url-pattern>/servlet/ServletToUserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDeleteUserList</servlet-name>
    <url-pattern>/servlet/ServletDeleteUserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAjaxJudgeUserName</servlet-name>
    <url-pattern>/servlet/ServletAjaxJudgeUserName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAjaxJudgeUserPassword</servlet-name>
    <url-pattern>/servlet/ServletAjaxJudgeUserPassword</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
