# 初次上传忽略
﻿# *.png
# *.jpg
# *.Wav
# *.apk
# *.mp3
# *.gif
# *.DS_Store
# *.flv
# *.wma
# *.wmv
# *.avi
# *.doc
# *.pptx
# *.ppt
# *.zip
# *.rar
# *.docx
# *.aac
# *.xlsx
# *.psd
# *.exe
# *.mp4

.idea/

大学学习/统计分析与SPSS应用/
居分期外包/
罗辑思维/
大学学习/毕业设计和论文/
1_拓灵vr/PRJ1.4/
技术和专长/VPN/id_rsa.ppk


