/* ================================
    CSS STYLES FOR CAAI 
    v1.0, 01/2001
   ================================
*/

.TopMenuGroup
{
	border: 1px;
	border-style: outset;
	border-color: Gray;
	background: url("Images/bg2.gif");
}

.MenuGroup
{
	background: url("Images/bg2.gif");
	border: 1px;
	border-style: solid;
	border-color: Gray;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='dimgray', Direction=135, Strength=3);
}

.MenuItem
{
	color : Blue;
	font-family: MS Sans Serif, Verdana;
	font-size: 14px;
	padding: 4px;
	padding-left: 24px;
	padding-right: 14px;
	cursor: default;
}

.MenuItemOver
{
	background-color: silver;
	color: black;
	font-family: MS Sans Serif, Verdana;
	font-size: 14px;
	padding: 4px;
	padding-left: 17px;
	padding-right: 14px;
	cursor: default;
	background: url("images/title1.gif");
}

.DisabledMenuItem
{
	color: Gray;
	background-color: white;
	font-family: MS Sans Serif, Verdana;
	font-size: 14px;
	padding: 3px;
	padding-left: 17px;
	padding-right: 17px;
	cursor: default;
}

.DisabledMenuItemOver
{
	color: Gray;
	background-color: silver;
	font-family: MS Sans Serif, Verdana;
	font-size: 14px;
	padding: 3px;
	padding-left: 17px;
	padding-right: 14px;
	cursor: default;
}

.MenuBreak
{
	padding: 0px;
}

/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg
{
	background-color: #1a8650;
}

/* background color for the content part of the pages */

Body
{
	background-color: white;
	table-layout: fixed;
}
.p12
{
	font-size: 9px;
}
.welcome1
{
	font-size: 35px;
	font-weight: bolder;
	font-style: italic;
	font-family: 宋体;
	font-weight: 900;
	color: White;
	text-decoration: underline;
}
.Title
{
    font-weight:bold;
}
.TitleHead
{
	background-color: transparent;
}

.titlehead1
{
	background: url("images/jinbg1.gif");
}

.titlehuibg
{
	background: url("images/huibg.gif");
}

.marqueebg
{
	background: url("images/marbg.jpg");
}
.welcome5
{
	font-size: 25px;
	font-style: italic;
	font-family: 宋体;
	font-weight: 900;
	color: lightblue;
	text-decoration: underline;
}
.welcome6
{
	font-size: 25px;
	font-family: 宋体;
	font-weight: 900;
	color: lightblue;
}
.welcome2
{
	font-size: 50px;
	font-weight: bolder;
	font-family: 宋体;
	font-weight: 900;
	color: White;
}
.welcome3
{
	font-size: 50px;
	font-weight: bolder;
	font-family: Verdana, Arial;
	font-weight: 900;
	color: White;
}
.welcome4
{
	font-size: 40px;
	font-weight: bolder;
	font-family: 宋体;
	font-weight: 900;
	color: lightyellow;
}

/* PAGE BANNER */
/* NOTE: Site Title, Site Links and Tabs are rendered by MobilePortalBanner.ascx
/* style for the text of the site title */
.SiteTitle1
{
	font-size: 55px;
	font-family: 黑体;
	font-weight: 900;
	color: white;
}
.SiteTitle3
{
	font-size: 55px;
	font-family: 黑体;
	font-weight: 900;
	color: White;
}
.SiteTitle2
{
	font-size: 40px;
	font-family: 黑体;
	font-weight: 900;
	color: Darkblue;
}
.SiteTitle
{
	font-size: 34px;
	font-family: 黑体;
	font-weight: 900;
	color: White;
}
.GridStyle
{
	font-size: 11pt;
	border: solid 1px black;
}
.GridHeaderStyle
{
    background-color:#AAAADD;
    font-weight: bold;
}
.GridHeaderStyle a
{
    text-decoration: none;
}
.GridStyle td
{
	border: 1px solid black;
}
table.GridStyle tr th
{
	border: solid 1px black;
	font-size: 14px;
	color: Black;
}

.GridPager td
{
	border: 0px;
}

.CardTitle
{
	font-size: 36px;
	font-family: 宋体 font-weight: bold;
	color: Black;
	 background-image:url('images/GradTitle.png');
	 margin-bottom:0;
	 margin-top:0;
	 width: 650px;
}
/* background/border colors for the selected tab */
.TabBg
{
	background-color: #009d00;
	border-color: #aaaa00;
}

/* background/border colors for the unselected tabs */
.OtherTabsBg
{
	background-color: #1a8650;
	border-color: black;
}

/* text style for the selected tab */
.SelectedTab
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: white;
}

/* text style for the unselected tabs */
.OtherTabs
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: gainsboro;
	text-decoration: none;
}
.CollegeHead
{
	color: black;
	font-family: Verdana, Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 16pt;
	text-decoration: underline;
}
.CollegeHead1
{
	color: White;
	font-family: 宋体;
	font-size: 15px;
	line-height: 16pt;
	text-decoration: underline;
}
.CollegeItem
{
	color: black;
	font-family: Verdana, Arial;
	font-size: 15px;
}
.CollegeItem1
{
	color: white;
	font-family: Verdana, Arial;
	font-size: 15px;
}

/* hyperlink styles of the unselected tabs */
A.OtherTabs:link
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:visited
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:active
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:hover
{
	text-decoration: underline;
	color: white;
}
A.MenuUnselected, A.MenuUnselected:link, A.MenuUnselected:visited
{
	color: darkgreen; /*modified by pmps*/
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	padding-left: 11px;
}

A.MenuUnselected:hover
{
	color: green; /*modified by pmps*/
	text-decoration: underline;
	padding-left: 14px;
}

A.MenuSelected
{
	color: white;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	padding-left: 10px;
}

A.MenuSelected:hover
{
	color: white;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	padding-left: 10px;
}


/* text style for the site links (at extreme top-right of header) */
.SiteLink
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

/* hyperlink style for the site links */
A.SiteLink:link
{
	text-decoration: none;
	color: white;
}

A.SiteLink:visited
{
	text-decoration: none;
	color: #eeeeee;
}

A.SiteLink:active
{
	text-decoration: none;
	color: #eeeeee;
}

A.SiteLink:hover
{
	text-decoration: underline;
	color: white;
}

/* style for separator between site links */
.Accent
{
	color: red;
	font-weight: bold;
}

.smallfont
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
}
.smallfont1
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

/* MODULE-SPECIFIC */
/* text style for reading messages in Discussion */
.Message
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-size: 14px;
	background-color: #eeeeee;
}

/* style of item titles by Announcements and events */
.ItemTitle
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: darkblue;
}



/* GENERAL */
/* style for module titles */
.Head
{
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: black;
}

/* style of item titles on edit and admin pages */
.SubHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: blue;
}

/* module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
}

/* text style used for most text rendered by modules */
.Normal
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	table-layout: fixed;
}
.NormalDataList
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 13px;
	table-layout: fixed;
}
.NormalTable
{
	background-color: white;
	border-color: Red;
}
/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.NormalRed
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: red;
}

.NormalBold
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

/* hyperlink style for buttons and link buttons used in the portal admin pages */
A.CommandButton:link
{
	text-decoration: underline;
	color: DarkGreen;
}

A.CommandButton:visited
{
	text-decoration: underline;
	color: darkred;
}

A.CommandButton:active
{
	text-decoration: underline;
	color: darkred;
}

A.CommandButton:hover
{
	text-decoration: underline;
	color: red;
}




/* GENERIC */
H1
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

H2
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

H3
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: darkred;
}

H4
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: darkred;
}

H5, DT
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

H6
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

TFOOT, Thead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: darkred;
}

TH
{
	vertical-align: baseline;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: darkred;
}
SMALL
{
	font-size: 10px;
}

BIG
{
	font-size: 16px;
}

BLOCKQUOTE, PRE
{
	font-family: Lucida Console, monospace;
}


UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

HR
{
	color: dimgrey;
	height: 1pt;
	text-align: left;
}

.style2
{
	font-size: 12px;
	color: #333333;
}

.style3
{
	font-family: Arial, Helvetica, sans-serif;
}

.style5
{
	font-size: 14px;
}

.style6
{
	font-weight: 900;
	font-size: 13px;
	color: #ffffff;
}

.style10
{
	font-weight: bold;
	font-size: 16px;
	color: #003366;
}

.style9
{
	font-weight: bold;
	color: #003366;
}

.style11
{
	font-size: 12px;
	color: #cc3300;
}

.style12
{
	font-size: small;
	color: #ffffff;
}

.title001
{
	font-size: 18px;
	text-align: center;
	color: #0099FF;
	font-family: "宋体";
}

.ModuleBox
{
	background-color: white;
}

.desktopcontent
{
}

.rearrangetable
{
	border-collapse: collapse;
	border-color: black;
}

.rearrangetable tr
{
	border-color: black;
	height: 26px;
}

.rearrangetable td
{
	border-color: black;
}

.rearrangestudent
{
	cursor: move;
}
.PageItemHeader
{
	background-position: center center;
	width: 25px;
	height: 25px;
	display: block;
	background-image: url('images/work.jpg');
	background-repeat: no-repeat;
}
.PageTitle
{
	display: block;
	float: left;
	text-align: left;
	width: auto;
	font-family: 隶书;
}

.loginDisplay
{
	font-size: 18px;
	display: block;
	text-align: center;
	padding: 5px;
	color: White;
}

.loginDisplay a:link
{
	color: white;
}

.loginDisplay a:visited
{
	color: white;
}

.loginDisplay a:hover
{
	color: white;
}
.MenuPic
{
	display: block;
	background-image: url('images/xy.jpg');
	height: 109px;
	width: 145px;
	background-repeat: no-repeat;
}
.card
{
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
    background-image: url('images/GradSun.png');
    border-collapse: collapse;
    text-align: center;
    width: 650px;
    background-repeat: repeat-y;
}
        .cardContainer
        {
            width: 650px;
            margin: 0 auto;
            display: table;
        }
.ScrollTitle
{
  width:400px;
  height:200px;
}

/*-----------------Original------------------------------------*/

/* DEFAULTS
----------------------------------------------------------*/

body
{
	background: #FFFFFF;
	font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #696969;
	font-size: 12px;
}

a:link, a:visited
{
	color: Black;
}

a:hover
{
	color: #1d60ff;
	text-decoration: none;
}

a:active
{
    color: #034af3;
    text-decoration: underline;
}

p
{
	margin-bottom: 10px;
	line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------

h1, h2, h3, h4, h5, h6
{
	font-size: 1.5em;
	color: #666666;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 200;
	margin-bottom: 0px;
}

h1
{
	font-size: 1.6em;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h2
{
	font-size: 1.5em;
	font-weight: 600;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}


{
	margin-top: 0px;
}
*/

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    /*width: 1024px;*/
    background-color: #FFFFFF;
    margin: auto;
    width: 100%;
    height: 100%;
}

.header
{
    display: block;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 70px;
    background-image: url('images/header.jpg');
    background-color: #0099CC;
}
.backgroundImg
{
    margin-left: 0;
    margin-right: auto;
    height: 70px;
    width: 1050px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('images/header.jpg');
    z-index: 0;
}
.bar
{
    display: block;
    background-image: url('images/bar.jpg');
    height: 10px;
    width: 100%;
    margin-bottom: 0px;
}
.imageRepeater
{
    position: absolute;
    top: 0px;
    left: 900px;
    width: 124px;
    height: 70px;
    background-image: url('images/repeater.png');
    background-repeat: repeat-x;
}
.rightTopMenu
{
    position: absolute;
    text-align: right;
    right: 0px;
    top: 0px;
    height: 70px;
    width: 400px;
    z-index: 1;
    color: #FFFFFF;
}
a.rightTopMenu
{
    text-decoration: underline;
}
.header h1
{
	font-weight: 700;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	color: #f9f9f9;
	border: none;
	line-height: 2em;
	font-size: 2em;
}
.menuStyle
{
    vertical-align: top;
    width: 100%;
    margin:0;
    text-align: center;
    font-size: 14px;
    font-family: 黑体;
    color: Yellow;
    font-weight: bold;
    height: 40px;
}

.leftCol
{
    float: left;
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: top;
    background-image: url('images/menuBackground.jpg');
    background-repeat: repeat;
    width: 100px; /*Width of left column*/
    margin-left: -100%;
    min-height: 775px;
    padding-top: 40px;
}

#contentWrapper{
float: left;
width: 100%;
}

#contentColumn{
margin-left: 100px; /*Set left margin to LeftColumnWidth*/
}

.footer
{
    clear: left;
    width: 100%;
    background-image: url('images/footer.jpg');
    text-align: center;
    padding: 4px 0;
    color: White;
    font-size: 12px
}
.right
{
    width: 220px;
    padding-top: 15px;
}

.main
{
    margin-left: 0px;
    padding: 0px;
    min-height: 420px;
    margin-bottom: 20px;
}
.DefaultContainer
{
    margin: 0px;
    padding: 0px;
    background: url('/Images/home.jpg') no-repeat;
    vertical-align: top;
    text-align: left;
    height: 770px;
    margin-left: 18px;
}
/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
	background-color: #3a4f63;
	width: 100%;
}

div.menu
{
	padding: 4px 0px 4px 8px;
}

div.menu ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
	background-color: #465c71;
	border: 1px #4e667d solid;
	color: #dde4ec;
	display: block;
	line-height: 1.35em;
	padding: 4px 20px;
	text-decoration: none;
	white-space: nowrap;
}

div.menu ul li a:hover
{
	background-color: #bfcbd6;
	color: #465c71;
	text-decoration: none;
}

div.menu ul li a:active
{
	background-color: #465c71;
	color: #cfdbe6;
	text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
	margin: 1em 0px;
	padding: 1em;
	border: 1px solid #ccc;
}

fieldset p
{
	margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
	display: block;
}

fieldset label.inline
{
	display: inline;
}

legend
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
}

input.textEntry
{
	width: 320px;
	border: 1px solid #ccc;
}

input.passwordEntry
{
	width: 320px;
	border: 1px solid #ccc;
}

div.accountInfo
{
	width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
	clear: both;
}





.failureNotification
{
	font-size: 1.2em;
	color: Red;
}

.bold
{
	font-weight: bold;
}

.submitButton
{
	text-align: right;
	padding-right: 10px;
}

.cardItemHeader
{
	background-image: url('images/GradSunDark.png');
	background-repeat: repeat-x;
}
