/* 全局变量 */
			.layout
			{
				width: 1000px;
				margin: 10px 174.5px;
				clear:both;
			}
			.grey{color:#8E98A2;}
/* 全局变量 */
			#hotsale
			{
				font-family: tahoma, arial, 宋体;
				font-size: 14px;
				float:left;
			}
			#hotsale a
			{
				color:black;
				text-decoration:none;
			}
			#hotsale .nav
			{
				width: 980px;
				border-bottom: 2px solid rgb(213, 213, 213);
				position: relative;
				margin:0px;
				margin-bottom: 15px;
				padding: 14px 10px 5px;
				font-size:14px;
				float:left;
			}
			#hotsale .nav h3
			{
				font-weight: 700;
				padding: 0px;
				margin: 0px;
				margin-right: 20px;
				font-size: 14px;
				float: left;
			}
			#hotsale .link{float:left;}
			#hotsale ul
			{
				padding: 0px;
				margin: 0px;
				color: rgb(51, 51, 51);
			}
			#hotsale li
			{
				list-style:none;
				padding-right:10px;
				float: left;
				text-decoration:none;
			}
			#hotsale dl
			{
				display: inline-block;
				width: 140px;
				height: 195px;
				margin: 0px 12px;
				font-size: 12px;
				float: left;
			}
			#hotsale dt
			{
				height: 135px;
				border:0px solid red;
				text-align:center;
				line-height:250px;
				margin:0px;
				padding:0px;
			}
			#hotsale dd
			{
				margin:0px;
				padding:0px;
			}
			#hotsale .img{vertical-align:-5px;}
			#hotsale .orange
			{
				color:#F75200;
				font-weight:bold;
			}
			#hotsale .delete{text-decoration:line-through;}
			#hotsale .border
			{
				border:1px solid #8E98A2;
				padding:0px 3px 3px;
				font-size:12px;
				float:right;	
			}