<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletInsertKind</servlet-name>
    <servlet-class>com.unis.kevin.servlet.ServletInsertKind</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletKindList</servlet-name>
    <servlet-class>com.unis.kevin.servlet.ServletKindList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletKindInfo</servlet-name>
    <servlet-class>com.unis.kevin.servlet.ServletKindInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUpdateKind</servlet-name>
    <servlet-class>com.unis.kevin.servlet.ServletUpdateKind</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletToUpdateKind</servlet-name>
    <servlet-class>com.unis.kevin.servlet.ServletToUpdateKind</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDisableKind</servlet-name>
    <servlet-class>com.unis.kevin.servlet.ServletDisableKind</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ServletInsertKind</servlet-name>
    <url-pattern>/servlet/ServletInsertKind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletKindList</servlet-name>
    <url-pattern>/servlet/ServletKindList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletKindInfo</servlet-name>
    <url-pattern>/servlet/ServletKindInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUpdateKind</servlet-name>
    <url-pattern>/servlet/ServletUpdateKind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletToUpdateKind</servlet-name>
    <url-pattern>/servlet/ServletToUpdateKind</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDisableKind</servlet-name>
    <url-pattern>/servlet/ServletDisableKind</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
