<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletInsertClass</servlet-name>
    <servlet-class>com.servlet.ServletInsertClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletListClass</servlet-name>
    <servlet-class>com.servlet.ServletListClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDisableClass</servlet-name>
    <servlet-class>com.servlet.ServletDisableClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUpdateClass</servlet-name>
    <servlet-class>com.servlet.ServletUpdateClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletToUpdateClass</servlet-name>
    <servlet-class>com.servlet.ServletToUpdateClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletListStudent</servlet-name>
    <servlet-class>com.servlet.ServletListStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletInsertStudent</servlet-name>
    <servlet-class>com.servlet.ServletInsertStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletInsertCourse</servlet-name>
    <servlet-class>com.servlet.ServletInsertCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletListCourse</servlet-name>
    <servlet-class>com.servlet.ServletListCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletListStudentByClass</servlet-name>
    <servlet-class>com.servlet.ServletListStudentByClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletListCourseByStudent</servlet-name>
    <servlet-class>com.servlet.ServletListCourseByStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDisableCourse</servlet-name>
    <servlet-class>com.servlet.ServletDisableCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletToUpdateCourse</servlet-name>
    <servlet-class>com.servlet.ServletToUpdateCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUpdateCourse</servlet-name>
    <servlet-class>com.servlet.ServletUpdateCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletToInsertStudent</servlet-name>
    <servlet-class>com.servlet.ServletToInsertStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletDisableStudent</servlet-name>
    <servlet-class>com.servlet.ServletDisableStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletToUpdateStudent</servlet-name>
    <servlet-class>com.servlet.ServletToUpdateStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletUpdateStudent</servlet-name>
    <servlet-class>com.servlet.ServletUpdateStudent</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>ServletInsertClass</servlet-name>
    <url-pattern>/servlet/ServletInsertClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletListClass</servlet-name>
    <url-pattern>/servlet/ServletListClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDisableClass</servlet-name>
    <url-pattern>/servlet/ServletDisableClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUpdateClass</servlet-name>
    <url-pattern>/servlet/ServletUpdateClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletToUpdateClass</servlet-name>
    <url-pattern>/servlet/ServletToUpdateClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletListStudent</servlet-name>
    <url-pattern>/servlet/ServletListStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletInsertStudent</servlet-name>
    <url-pattern>/servlet/ServletInsertStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletInsertCourse</servlet-name>
    <url-pattern>/servlet/ServletInsertCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletListCourse</servlet-name>
    <url-pattern>/servlet/ServletListCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletListStudentByClass</servlet-name>
    <url-pattern>/servlet/ServletListStudentByClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletListCourseByStudent</servlet-name>
    <url-pattern>/servlet/ServletListCourseByStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDisableCourse</servlet-name>
    <url-pattern>/servlet/ServletDisableCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletToUpdateCourse</servlet-name>
    <url-pattern>/servlet/ServletToUpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUpdateCourse</servlet-name>
    <url-pattern>/servlet/ServletUpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletToInsertStudent</servlet-name>
    <url-pattern>/servlet/ServletToInsertStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDisableStudent</servlet-name>
    <url-pattern>/servlet/ServletDisableStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletToUpdateStudent</servlet-name>
    <url-pattern>/servlet/ServletToUpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUpdateStudent</servlet-name>
    <url-pattern>/servlet/ServletUpdateStudent</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
