/*全局变量*/
body{
	margin:0px;
	padding: 0px;
	font-size:12px;
}
a{
	font-size:12px;
	text-decoration:none;
	color:#636363;
}
.fleft{float:left;}
.fright{float:right;}
.layout
{
	width: 1000px;
	margin: 10px 174.5px;
}

/*全局变量*/
/*5-category-left*/
#category
{
	width: 1040px;
	font-size:12px;
}
#category .left
{
	width:720px;
	position:relative;
	float:left;
}
#category .right
{
	width:310px;
	float:left;
}
#leimu
{
	overflow:hidden;
	width:700px;
	text-align:left;
	border-collapse:collapse;
}
.leimuframe
{
	overflow:hidden;
	width:700px;
	text-align:left;
	border-collapse:collapse;
}
#leimu
{
	border:1px solid #D8D8D8;
}
#leimutop .typetitle
{
	color:black;
}
.suoyouleimu
{
	position:absolute;
	left:-36px;
    top:72px;
	float:left;
}
#leimutop
{
	border-collapse:collapse;
	border-top:1px solid #D8D8D8;
	padding:15px 15px;
	width:672px;
	text-align:left;
	background-color:#F6F6F6;
}
#leimutop div
{
	line-height:20px;
}
.leimuframe 
{
	border-collapse:collapse;
	border-bottom:1px solid #D8D8D8;
	padding:5px 15px;
}
.leimuframe div 
{
	float:left;
	width:230px;
	line-height:25px;

}
.leimuframe div.leimutitle
{
	float:none;
	display:block;
}
.typetitle
{
	color:#036B9E;
	font-weight:700;
	font-size:15px;
}
.leimutitle h2
{
	font-family:微软雅黑,sans-serif;
	margin:5px 0;
	color:#5E5E5E;
}
/*5-category-left*/
/*5-category-right*/
.subframe
{
	width:310px;
	border:1px solid #D6D6D6;
	margin:10px 0px;
}
.subframe .top
{
	background-color:#EEEEEE;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	width:100%;
}
.subframe .top .dowhat,.subframe2 .top .dowhat
{
	font-size:12px;
	color:#9C9C9C;
	font-weight:400;
}
.subframe .top a:link
{
	font-size:12px;
	margin: 5px 10px;
	height:30px;
	width:auto;
	line-height::30px;
}
#buttongroup
{
	width:350px;
	height:60px;
	line-height:60px;
	text-align:left;
	vertical-align:middle;
}
#buttongroup input
{
	margin:auto -5px;
	position:relative;
	left:5px;
	top:5px;
}
.subframe .content
{
	text-align:left;
	overflow:hidden;
	padding:5px 15px;
	width:100%;
}
.content div
{
	float:left;
	width:100%
}
.top span
{
	font-weight:700;
/*    text-indent:-10px;*/
	padding-left:10px;
	font-size:14px;
}
.rightframe img
{
	position:relative;
	left:-4px;
}
.subframe .content a
{
	margin:5px 10px;
	display:block;
	float:left;
	position:relative;
}
.pre , .next
{
	margin:auto -4px;
}

.subframe .pre, .subframe .next
{
	position:relative;
	top:0;
	left:0;
}
.today
{
	border-top:1px solid #D6D6D6;
	width:100%;
}
.childleft *
{
	float:left;
}
.childright *
{
	float:right;
}

.content img
{
	position:relative;
	left:8px;
}

.content ul
{
	padding-left:8px;
	position:relative;
}

.content li
{
	letter-spacing:0;
	list-style:none;
	background-image:url(../img/list.png);
	background-repeat:no-repeat;
	background-position:left center;
	min-width:150px;
/*    width:100px;*/
}
a.hls 
{
	color:#F85C00;
}
/*id*/
#quanqiugou
{
	background-image:url(../5-category/全球购logo.png);
	background-repeat:no-repeat;
	background-position:left top;
	float:none;
	height:80px;
}
#quanqiugou input , #quanqiugou a
{
	float:none;
	display:inline;
	margin:auto 0;
}
#quanqiugou div
{
	height:20px;
	line-height:25px;
	position:relative;
	top:25px;
	left:80px;
}
/*id*/
.subframe2 .content
{
	overflow:hidden;
/*    padding:10px auto auto 80px;*/
	color:#3D3D3D;
}
.subframe2 .top
{
	border-bottom-style:solid;
	border-bottom-width:2px;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	width:90%;
}
.subframe2 .content div
{
	margin:10px auto 0 80px;
	line-height:20px;
	height:20px;
	position:relative;
/*    left:80px;*/
/*    top:15px;*/
	display:block;
}

.tour .content
{
	background:url(../5-category/旅行.png) no-repeat left center;
	float:none;
	height:80px;
}
.auction .content
{
	background:url(../5-category/和田玉.png) no-repeat left center;
	float:none;
	height:80px;
}
.secondhand .content
{
	background:url(../5-category/何洁.png) no-repeat left center;
	float:none;
	height:80px;
}
.tour .fleft, .tour .title, .tour a
{
	color:#439CD8;
}
.auction .fleft ,.auction .title , .auction a
{
	color:#C8000A;
}
.secondhand .fleft ,.secondhand .title , .secondhand a
{
	color:#4A9B18;
}