img{
	vertical-align:-5px;
}
span{
	margin: 0px 5px;
	padding: 0px;
	width: 5px;
}
.layout{
	width: 1000px;
	margin: 0px auto;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
.triangle{
	display:inline
	margin:0px 5px;
	top:8px;
	width:0px;
	height:0px;
	border:4px solid #636363;
	border-color:#616161 transparent;
	border-width: 4px 4px 0px 4px;
	position:relative;
}
.count{
	color:#BA6A3C;
	font-weight:bold;
}
#navigation{
	width:100%;
	height:35px;
	line-height:35px;
	margin:0px;
	padding:0px;
	background-color:#F5F5F5;
	font-size:12px;
}