			/*全局css样式*/
			body
			{
				background-image:url(image/bghead.jpg);
				background-repeat:repeat-X;
				background-position:center top;
				background-color:#dfecf5;
			}
			.layout
			{
				width:780px;
				margin:0px auto;
			}
			a
			{
				color:#364686;
				font-size:12px;
				text-decoration:none;
			}
			/*css*/
			#divHead
			{
				width:780px;
				height:65px;
			}
			/*新浪logo样式设置*/
			#divHead .top1
			{
				width:132px;
				height:40px;
				margin-top:10px;
				background-image:url(image/logo.png);
				float:left;
			}
			/*新浪注册导航样式设置*/
			#divHead .top2
			{
				width:120px;
				height:15px;
				margin-top:30px;
				font-size:12px;
				text-align:center;
				float:left;
			}
			/*新浪首页导航样式设置*/
			#divHead .top3
			{
				width:120px;
				height:20px;
				color:white;
				text-align:right;
				font-size:12px;
				margin-top:35px;
				float:right;
			}
			/*新浪首页导航样式超链接设置*/
			#divHead .top3 a
			{
				color:white;
				text-decoration:none;
			}
			#divTop
			{
				width:780px;
				height:42px;
				background-image:url(image/bghead_top_com.gif);
				background-repeat:no-repeat;
			}
			/*注册信息框样式设置*/
			#divMiddle
			{
				width:778px;
				height:458px;
				border-left:1px solid #8FA8BE;
				border-right:1px solid #8FA8BE;
				background-color:#F1F7FC;
			}
			/*表格样式设定*/
			#resTable
			{
				width:780px;
				height:430px;
				border:0px solid black;
				padding:0px 25px;
				font-size:12px;
			}
			/*表格内部标题与横线*/
			#resTable .title
			{
				padding:0 0 0 20px;
				border-top:1px solid #D7DCE2;
				font-size:14px;
				font-weight:700;	
			}
			#resTable .tdcenter{text-align:center;}
			#resTable .tdright{text-align:right;}
			/*td的布局*/
			#resTable td{border:0px solid red;}
			/*三列td的宽度*/
			#resTable .columnFirst{width:200px;}
			#resTable .columnSecond{width:80px;}
			#resTable .columnThird{width:450px;}
			#resTable .red{color:red;}
			/*输入验证符合要求的样式*/
			#resTable .checkSuccess
			{
				color:green;
				font-size:15px;
			}
			#divBottom
			{
				width:780px;
				height:5px;
				background-image:url(image/bghead_bottom.gif);
				background-repeat:no-repeat;
			}
			/*页脚布局样式设置*/
			#divFoot
			{
				width:780px;
				height:90px;
				padding:10px 0px;
				text-align:center;
			}
			/*公司信息第一行样式设置*/
			#foot1
			{
				height:25px;
				font-size:12px;
			}

			/*公司信息第二行样式设置*/
			#foot2
			{
				height:25px;
				font-size:12px;
				color:#364686;
			}

			/*公司信息第三行样式设置*/
			#foot3
			{
				height:25px;
				font-size:12px;
			}
			/*用于输入框提示信息的样式*/
			.tip
			{
				font-size:12px;
				color:#AEAEAE;
				height:12px;
			}
			/*用于标题提示信息的样式*/
			.tiphead
			{
				font-size:12px;
				color:#EC8018;
				margin-left:50px;
			}
			#submit
			{
				width:98px;
				height:32px;
				border-radius: 10px;
				background-image: url(image/btn1.gif);
				background-repeat: no-repeat;
				color:white;
				font-size:12px;
				cursor:pointer;
			}
			/*logo外框样式*/
			#divLogo
			{
				width:77px;
				height:110px;
				position:absolute;
				left:50%;
				top:100px;
				margin-left:366px;
				background-image:url(image/logoicon.png);
			}
			input[type="text"]
			{
				color:grey;
			}
